:root {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    --color-background: rgb(195 190 172);
    --color-title: rgb(68, 67, 62);
    --coloe-text: rgb(68, 67, 62);
    --coloe-button: rgb(227, 227, 222);
    --coloe-button-border: rgb(52, 52, 52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    font-size: 2.5rem;
}

.body {
    /*font-size: calc(0.5em + 1vw);*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
}

.wrapper {
    margin: 0 auto;
    width: 60vw;
}

/*-----------------header---*/
.title {
    text-align: right;
    padding: 0.5em 0;
    color: var(--color-title);
}

/*------------------main---*/
.slider {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 0.1fr;
    grid-row-gap: 1em;
}

.radio {
    display: none;
}

.slider__img {
    grid-column: 1/3;
    grid-rows: 1/2;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 70vh;
}

.img-block {
    width: 100%;
    flex-shrink: 0;
    transition: all 0.2s;
}

.img-block > img  {
    display: block;
    object-fit: cover;
    width: 100%;
}


.slider__text {
    grid-column: 1/2;
    grid-rows: 2/3;
    padding: 1em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.text {
    width: 100%;
}

.slider__buttons {
    grid-column: 2/3;
    grid-rows: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button {
    margin: 0 0.5em;
    width: 2em;
    height: 1em;
    border: 0.2em solid var(--coloe-button-border);
}

#sl-radio1:checked ~ .slider__img .slider__img1 {
    transform: translateX(0%);
}

#sl-radio2:checked ~ .slider__img .slider__img2 {
    transform: translateX(-100%);
}

#sl-radio3:checked ~ .slider__img .slider__img3 {
    transform: translateX(-200%);
}

#sl-radio4:checked ~ .slider__img .slider__img4 {
    transform: translateX(-300%);
}


/*-----------------footer---*/
.footer__wrapper {
    padding: 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copy {
    font-size: 1.5rem;
    color: var(--coloe-text);
}

.footer__rs-school-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--coloe-text);
}


@media (max-width: 768px) {
    body {
        font-size: 0.8em;
    }

    .slider {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.1fr 0.1fr;
    }

    .slider__img {
        grid-column: 1/2;
        grid-rows: 1/2;
    }

    .slider__text {
        grid-column: 1/2;
        grid-rows: 2/3;
    }

    .slider__buttons {
        grid-column: 1/2;
        grid-rows: 3/4;
        justify-content: center;
    }

    .footer__wrapper {
        padding: 1.5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

